body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #444;
}


.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media-list a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


.fa-facebook:hover{
    color: #3b5998 ;
  }
  
  .fa-instagram:hover{
      color: #cd486b ;
  }
  
  .fa-twitter:hover{
    color: #00acee;
  }
  




.Text{
    text-align: center;
}

.details{
    position: relative;
    left: 700px;
    bottom: 490px;
    width: 800px;
}


.contact-container {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.contact-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form {
    text-align: left;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Media query for screens 768px and below */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static;
        height: 240px;
    }

    .contact-container {
        margin: 20px;
        padding: 20px;
    }

    .details {
        position: static;
        left: auto;
        bottom: auto;
        width: 100%;
    }
}



