body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 10px;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 5px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.art-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 250px; /* Adjust for the sidebar width */
    padding: 0px;
}

.art-gallery img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    user-select: none; /* Prevent image selection */
    -webkit-user-drag: none; /* For Safari */
}



.social-media-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media-list a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.fa-facebook:hover{
  color: #3b5998 ;
}

.fa-instagram:hover{
    color: #cd486b ;
}

.fa-twitter:hover{
  color: #00acee;
}

.pagination {
    position: absolute;
    left: 650px;
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;

}

/* Media query for screens 768px and below */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: fixed;
        height: 240px;
        z-index: 1;
    }

    .content {
        margin-left: 0;
        padding: 20px;
    }

    .art-gallery {
        position: absolute;
        top: 221px;
        margin: 20px 0; /* Adjust margin for better spacing on smaller screens */
    }

    .pagination {
        position: absolute;
        bottom: -8500px;
        left: 100px;
        right: 0;
        margin-top: 20px;
    }
}